**/.tmp*
**/*.mp4
bin/
Data/Script/Examples/
Data/TestRun/BackAndForth
Movie/Camera.cfg
Movie/Camera.cfg.autobackup
Movie/.road_cache/
RL/.vscode/
RL/rl_data/
RL/Log/
RL/__pycache__/
src/CarMaker.linux64
SimOutput/
SimInput/
.vscode/
doc/movie.avi
Update_*.txt
src_cm4sl/
Plugins/
lib/
/src/.settings/
/src/*.o
/src/core
/src/*~ *
src/.settings/org.eclipse.cdt.core.prefs
src/app_tmp_20201118_1215.c
src/app_tmp.c
src/CM_Main.c
src/CM_Vehicle.c
src/cmenv.m
src/IO.c
src/IOVec.h
src/.depend
src/.version_linux64
src/app_tmp.c
rl_data/eval/events.out.tfevents.1605701738.aha-Z97X-UD3H.39997.851.v2
rl_data/eval/events.out.tfevents.1605704538.aha-Z97X-UD3H.44547.851.v2
rl_data/policies/collect_policy/policy_specs.pbtxt
rl_data/policies/collect_policy/saved_model.pb
rl_data/policies/collect_policy/variables/variables.data-00000-of-00001
rl_data/policies/collect_policy/variables/variables.index
rl_data/policies/greedy_policy/policy_specs.pbtxt
rl_data/policies/greedy_policy/saved_model.pb
rl_data/policies/greedy_policy/variables/variables.data-00000-of-00001
rl_data/policies/greedy_policy/variables/variables.index
rl_data/policies/policy/policy_specs.pbtxt
rl_data/policies/policy/saved_model.pb
rl_data/policies/policy/variables/variables.data-00000-of-00001
rl_data/policies/policy/variables/variables.index
rl_data/train/events.out.tfevents.1605700838.aha-Z97X-UD3H.19826.843.v2
rl_data/train/events.out.tfevents.1605701738.aha-Z97X-UD3H.39997.843.v2
rl_data/train/events.out.tfevents.1605701742.aha-Z97X-UD3H.39997.3699.v2
rl_data/train/events.out.tfevents.1605704538.aha-Z97X-UD3H.44547.843.v2
rl_data/train/events.out.tfevents.1605704542.aha-Z97X-UD3H.44547.3699.v2
rl_data/
movie.avi
