**/.tmp*
**/*.mp4
bin/
Data/Config/
Data/Script/Examples/
Data/TestRun/BackAndForth
Movie/Camera.cfg
Movie/Camera.cfg.autobackup
Movie/.road_cache/
RL/.vscode/
RL/rl_data/
RL/Log/
RL/__pycache__/
src/CarMaker.linux64
SimOutput/
SimInput/
.vscode/
doc/movie.avi
Update_*.txt
src_cm4sl/
Plugins/
lib/
include/
/src/.settings/
/src/*.o
/src/core
/src/*~ *
src/.settings/org.eclipse.cdt.core.prefs
src/app_tmp_20201118_1215.c
src/app_tmp.c
src/CM_Main.c
src/CM_Vehicle.c
src/cmenv.m
src/IO.c
src/IOVec.h
